# EditorConfig is awesome: https://EditorConfig.org

# Top-Most style
root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab

[*.{md,yml}]
trim_trailing_whitespace = false
indent_style = space
